footer
  padding-top 1.5rem
  padding-bottom 1.5rem
  border-top 1px solid rgba($principal, .5)
  align-items center
  justify-content space-between
  color $secondary
  font-family 'velino', serif
  lost-center 1120px
  
.social
  display flex
  align-items center
  
  > *
    margin-right 1.5rem
    
    &:last-child
      margin-right 0