.header-image--innovation-process
  background url('/img/dip-main.jpg') center no-repeat
  background-size cover
  
.dip-why
  display flex
  align-items center
  height 80vh
  @extend $text-center
  wrapped()
  
  .text-container
    lost-center 630px no-flex