.startups-main
  display flex
  align-items center
  height 100vh
  background-color rgba($principal, .05)
  
  &--image
  .text-container
    width 50%
    lost-column 1/2 2 0
    
  .text-container
    lost-column 5/12 0 0
    lost-offset 1/12 row 0
    wrapped-left()
  
  &--image
    height 100vh
    background url('/img/startups-main.jpg') center no-repeat
    background-size cover
    
.startups-container
  margin-top 6rem
  margin-bottom 6rem
  wrapped()
  
  :nth-child(even) .startup--info
    order 2
    
    &:before
      right 0
      left -5rem
    
  :nth-child(even) .startup--image
    order 1