.header-image--startups
  background url('/img/startups-main.jpg') center no-repeat
  background-size cover
    
.startups-container
  margin-top 6rem
  margin-bottom 6rem
  wrapped()
  
  h3
    @extend $text-center
  
  :nth-child(even) .startup--info
    order 2
    
    &:before
      right 0
      left -5rem
    
  :nth-child(even) .startup--image
    order 1