@font-face
  font-family 'velino'
    src url('/fonts/velino.eot'),
        url('/fonts/velino.eot?#iefix') format('embedded-opentype'),
        url('/fonts/velino.woff2') format('woff2'),
        url('/fonts/velino.woff') format('woff'),
        url('/fonts/velino.ttf') format('truetype'),
        url('/fonts/velino.svg#velino_textbook') format('svg')
  font-weight normal
  font-style normal
  
@font-face
  font-family 'acto'
    src url('acto-ultralight.eot'),
        url('acto-ultralight.eot?#iefix') format('embedded-opentype'),
        url('acto-ultralight.woff2') format('woff2'),
        url('acto-ultralight.woff') format('woff'),
        url('acto-ultralight.ttf') format('truetype'),
        url('acto-ultralight.svg#actoultralight') format('svg')
  font-weight 200
  font-style normal
  
@font-face
  font-family 'acto'
    src url('acto-light.eot'),
        url('acto-light.eot?#iefix') format('embedded-opentype'),
        url('acto-light.woff2') format('woff2'),
        url('acto-light.woff') format('woff'),
        url('acto-light.ttf') format('truetype'),
        url('acto-light.svg#actolight') format('svg')
  font-weight 300
  font-style normal
  
@font-face
  font-family 'acto'
    src url('acto-light-italic.eot'),
        url('acto-light-italic.eot?#iefix') format('embedded-opentype'),
        url('acto-light-italic.woff2') format('woff2'),
        url('acto-light-italic.woff') format('woff'),
        url('acto-light-italic.ttf') format('truetype'),
        url('acto-light-italic.svg#actolight_italic') format('svg')
  font-weight 300
  font-style italic

@font-face
  font-family 'acto'
    src url('acto-book.eot'),
        url('acto-book.eot?#iefix') format('embedded-opentype'),
        url('acto-book.woff2') format('woff2'),
        url('acto-book.woff') format('woff'),
        url('acto-book.ttf') format('truetype'),
        url('acto-book.svg#actobook') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'acto'
    src url('acto-medium.eot'),
        url('acto-medium.eot?#iefix') format('embedded-opentype'),
        url('acto-medium.woff2') format('woff2'),
        url('acto-medium.woff') format('woff'),
        url('acto-medium.ttf') format('truetype'),
        url('acto-medium.svg#actomedium') format('svg')
  font-weight 600
  font-style normal

