.featherlight
  
  &:last-of-type
    background rgba($dark-blue, .95)
    
  & .featherlight-content
    border-radius 5px
    overflow hidden
    padding 0
    border-bottom 0
    
  & .featherlight-inner
    display flex
    
    +below(48rem)
      display block
    
  & .featherlight-close-icon
    background none
    color white
    
    +below(48rem)
      color $black