// ======================================================//
// Text utilities
// ======================================================//
$text-white
  color white
  
$text-center
  text-align center



// ======================================================//
// Normal content / p
// ======================================================//
.text
  font-size 1.125rem
  color $secondary
  margin-top 0
  margin-bottom 1rem
  line-height 1.6
  font-weight 300



// ======================================================//
// Titles
// ======================================================//
.title
  font-family 'velino', serif
  color $principal
  margin-top 0
  margin-bottom 2.5rem
  font-size 2.5rem
  font-weight normal
  
.title__main
  @extend .title
  font-size responsive 2.25rem 4rem
  
.sub-title__main
  @extend .text
  line-height 1.4
  font-size 1.375rem

.title-tag
  font-size 1rem
  color rgba($secondary, .5)
  margin-top 0
  margin-bottom 2rem
  letter-spacing .4rem
  text-transform uppercase

