.main-header
  position fixed
  display flex
  align-items center
  justify-content space-between
  z-index 1
  width 100%
  wrapped()
  
  +below(1120px)
    wrapped(95%)
    padding-top .5rem
    padding-bottom .5rem

.js-main-header__static
.main-header__static
  transition 350ms all ease
  background-color rgba(white, .95)
  shadow()

  .logo-svg
    fill $principal

  .nav-link
    color $principal

    &:before
      content ''
      background-color $principal

    &__active
      color $secondary
      font-weight 600