.main-header
  wrapped()
  position fixed
  display flex
  align-items center
  justify-content space-between
  z-index 10
  width 100%
  transition 350ms all ease
  
  +below(75rem)
    wrapped(95%)
  
  +below(55rem)
    shadow()
    padding-top .5rem
    padding-bottom .5rem
    background-color rgba(white, .95)

    .logo-svg
      fill $principal

    .nav-link
      color $principal

      &:before
        content ''
        background-color $principal

      &__active
        color $secondary
        font-weight 600

.main-header.is-scrolled,
.main-header.is-static
  background-color rgba(white, .95)
  shadow()

  .logo-svg
    fill $principal

  .nav-link
    color $principal

    &:before
      content ''
      background-color $principal

    &__active
      color $secondary
      font-weight 600