.clients-logos
  display flex
  margin-top 6rem
  width 100%
  justify-content center

  a
    padding .5rem
    margin-right 1.5rem
    margin-left 1.5rem
    border-radius 4px
    transition 350ms all ease-in-out

    img
      display block
      max-height 70px
      width auto

  a:hover
  .selected
    shadow()
