// ======================================================//
// Vendor // Settings
// ======================================================//
@import 'vendor/normalize'
@import 'vendor/lost'



// ======================================================//
// Utilities
// ======================================================//
@import 'utilities/mixins'
@import 'utilities/colors'
@import 'utilities/typography'
@import 'utilities/featherlight-custom'



// ======================================================//
// Base
// ======================================================//
@import 'base/box-model'
@import 'base/body'
@import 'base/fonts'
@import 'base/figure'
@import 'base/separator'



// ======================================================//
// Blocks
// ======================================================//
@import 'blocks/nav'
@import 'blocks/logo'
@import 'blocks/btn'
@import 'blocks/icons'
@import 'blocks/clients-logos'
@import 'blocks/testimony'
@import 'blocks/slides'
@import 'blocks/header'
@import 'blocks/dip-steps'



// ======================================================//
// Layout Blocks
// ======================================================//
@import 'layout/main-header'
@import 'layout/startup'
@import 'layout/footer'
@import 'layout/member-profile'



// ======================================================//
// Sections
// ======================================================//
@import 'sections/home'
@import 'sections/startups'
@import 'sections/innovation-process'
@import 'sections/team'



// ======================================================//
// Shame
// ======================================================//
@import 'utilities/shame'